/* Colors Var */
:root{
    --firstColor : #5463FF;
    --firstColor2 : #464DDC;
    --secondColor : #261D8E;
    --thirdColor : #113C5E;
    --navBg : #F9F9F9;
    --menuColor : #898989;
    --inputColor : #EEEEEE;
}

body{
    overflow-x: hidden;
}

.zIndex_N{
    z-index: -99999999;
}

.btnLogin{
    display: block;
    transition: 330ms;
}

.btnLogin:hover{
    transform: scale(1.05);
    background-color: var(--thirdColor);
    color: white;
}

.hamburgerMenuImg{
    display: none;
}

.btnGetStartedForFree{
    transition: 330ms;
}

.btnGetStartedForFree:hover{
    transform: scale(1.05);
    background-color: var(--thirdColor);
    color: white;
}

.wave{
    width: 100%;
    position: relative;
}

.wave::after{
    content: '';
    display: block;
    position: absolute;
    z-index: -9999;
    width: 100%;
    height: 40rem;
    margin-top: 7rem;
    background-color: var(--firstColor2);
}

.ins{
    width: 30rem;
}

.placeHolderColor::placeholder{
    color: rgb(124, 124, 124);
}

.myBg{
    position: relative;
}

.myBg::after{
    content: '';
    display: block;
    position: absolute;
    margin-top: 8rem;
    background-color: var(--navBg);
    width: 100%;
    height: 28rem;
    z-index: -9999;
}

.myTansition{
    transition: 330ms;
}

.myTansition:hover{
    transform: scale(1.04);
}

.hoverButtonTheme1{
    transition: 530ms;
}

.hoverButtonTheme1:hover{
    background-color: var(--secondColor);
    outline: white solid 1px;
    border-bottom-right-radius: 0.7rem;
    border-top-left-radius: 0.7rem;
    transform: scale(1.04);
}

.myIframe{
    position: relative;
    width: 18rem;
    height: 30rem;
    outline: black solid 0.5rem;
    border-radius: 1rem;
}

.backg::after{
    content: "";
    z-index: -999999;
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: rgb(241 245 249);
    
}

.hoverTransition{
    transition: 230ms;
    width: 11rem;
}

.hoverTransition:hover{
    width: 11rem;
}

/*  */
.switch {
    --button-width: 3em;
    --button-height: 1.5em;
    --toggle-diameter: 1.2em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 8px;
    --toggle-wider: 2em;
    --color-grey: #cccccc;
    --color-green: #5463FF;
}
   
.slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
}

.slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-green);
}

.switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
    display: none;
}

.switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

@media(max-width: 900px)
{
    .svgHome{
        display: none;
    }

    .p_1{
        margin-top: 2rem;
    }
    .p_2{
        display: none;
    }

    /* .insRes{
        display: none;
    } */
}

@media(max-width: 982px)
{
    .display_none{
        display: none;
    }
}

@media(max-width: 767px)
{
    .btnLogin{
        display: none;
    }

    .hamburgerMenuImg{
        display: block;
    }

    .show{
		width: 100%;
        height: 36%;
        z-index: 99999999;
        display: block;
        background-color: var(--firstColor);
        top: 9%;
        left: 0%;
        position: absolute;
        transform: scale(1.04);
        transition:all 0.3s ease;
    }
}

@media(max-width: 550px)
{
    .textSmall{
        font-size: 2.3rem;
    }

    .textSmall__sec{
        font-size: 0.9rem;
    }

    .d_none{
        display: none;
    }

    .view_click{
        margin-left: 2rem;
    }
    .modal{
        width: 21rem;
    }
    .ins{
        width: 100%;
    }
}

/* .test{
    width: 90%;
    margin-right: auto;
} */